<?xml version="1.0" encoding="ISO-8859-1"?>


<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>JspMvcDemo</display-name>
	<servlet>
		<servlet-name>creditController</servlet-name>
		<servlet-class>web.CreditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>creditController</servlet-name>
		<url-pattern>/Credit</url-pattern>
	</servlet-mapping>
</web-app>